<main class="form-signin">
  <form  #form="ngForm">
    <h1 class="h3 mb-3 fw-normal">Please Register</h1>
    <input type="text"
           name="first_name"
           [(ngModel)]="first_name"
           class="form-control" placeholder="First Name" required >
    <input type="text"
           name="last_name"
           [(ngModel)]="last_name"
           class="form-control" placeholder="Last Name" required >
    <input type="email"
           name="email"
           [(ngModel)]="email"
           class="form-control" placeholder="Email address" required >
    <input type="password"
           name="password"
           [(ngModel)]="password"
           class="form-control" placeholder="Password" required>
    <input type="password"
           name="password_confirm"
           [(ngModel)]="password_confirm"
           class="form-control mb-2" placeholder="Password Confirm" required>
    <button class="w-100 btn btn-lg btn-primary"
            (click)="onSubmit(form)"
            type="submit">Submit</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</main>
