<main class="form-signin">
  <form  #form="ngForm">
    <h1 class="h3 mb-3 fw-normal">Please Register</h1>

    <input type="email"
           name="email"
           class="form-control" placeholder="Email address" required >
    <input type="password"
           name="password"
           class="form-control" placeholder="Password" required>

    <button class="w-100 btn btn-lg btn-primary"
            (click)="onSubmit()"
            type="submit">Submit</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</main>

